.a1 {
    color: rgb(107, 45, 165);
    font-size: 25px;
    margin-right: 50px;
    margin-left: 100px;
}
.a2 {
    color: rgb(43, 25, 206);
    font-size: 25px;
    margin-right: 50px;
}
.a3 {
    color: rgb(86, 6, 190);
    font-size: 25px;
    margin-right: 50px;
}
.a4 {
    color: rgb(92, 13, 240);
    font-size: 25px;
    margin-right: 100px;
}
.nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    /* border: 1px solid; */
}
.button{
    margin-left: 1050px;
}
.btn1 {
    color: rgb(0, 75, 145);
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 34, 145);
    border-radius: 8px;
    font-size: 20px;
    width: 150px;
    height: 35px;
}
.btn2 {
    color: white;
    background-color: rgb(128, 0, 145);
    border-color: rgb(92, 0, 145);
    border-radius: 8px;
    font-size: 20px;
    width: 150px;
    height: 35px;
} 
.main {
    margin-left: 150px;
    margin-top: 150px;
}
.main1 {
    font-size: 70px;
    color: rgb(113, 7, 145);
}
.main2 {
    font-size: 20px;
    color: rgb(140, 105, 187);
}
.button1 {
    margin-top: 170px;
    /* border: 1px solid; */
    margin-right: 150px;
}
.btn3 {
    color: blueviolet;
    background-color: transparent;
}
.btn4 {
    color: palevioletred;
    background-color: rgb(165, 68, 86);
    border-color: rgb(152, 136, 190);
    border-radius: 8px;
    font-size: 20px;
    position: absolute;
    top: 678px;
    margin-left: 15px;
    width: 150px;
    height: 35px;
}
.img{
    margin-top: 15px;
    position: absolute;
    top: 230px;
    left: 1300px;
}
.img1{
    width: 500px;
}